<!doctype html>
<html>
	<head>
		<title>NoteMinders - Forget about forgetting (with intelligent email/text reminders)</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://use.typekit.net/cvy2dnb.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
		<script type="text/javascript" src="js/retina.js"></script>
		
		<meta name="apple-itunes-app" content="app-id=873639935"/>
		<meta name="google-site-verification" content="KcVdWrXppRuue9n-vcVGLHwa0qlDJ8xbWeIrK8tdlqo" />
		<meta name="description" content="Notifyr lets you receive all iOS notifications on your Mac." />
		<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				
				ga('create', 'UA-50488044-1', 'getnotifyr.com');
				ga('send', 'pageview');
		</script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
		<!-- for Google -->
		<meta name="description" content="Notifyr lets you receive all iOS notifications on your Mac." />
		<meta name="keywords" content="notifications,push, mac, osx, ios" />
		
		<meta name="author" content="Joost van Dijk" />
		<meta name="copyright" content="Joost van Dijk" />
		<meta name="application-name" content="Notifyr" />
		
		<!-- for Facebook -->
		<meta property="og:title" content="Notifyr" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="http://getnotifyr.com/assets/icon.png" />
		<meta property="og:url" content="http://www.getnotifyr.com" />
		<meta property="og:description" content="Notifyr lets you receive all iOS notifications on your Mac." />
	</head>
	<body>
		<div style="background-color: white;">
			<div id="header">
				<div class="header-wrapper">
					<div class="name">
						<!-- <img src="assets/NM_logo.png" id="logo" alt="NoteMinders logo"> -->
						
						<span id="notifyrName">NoteMinders</span>
						<span>Accelerate learning through spaced repetition email/text reminders</span>
					</div>
				</div>
				<div class="visual-wrapper">
					<div class="headerVisual cf">
						<div class="mac-container">
							<img src="assets/mac.png" id="mac" alt="mac">
							<div class="mac-screen">
								<div class="mac-notification"></div>
							</div>
						</div>
						<div class="iphone-container">
							<img src="assets/iphone.png" id="iphone" alt="iphone">
							<div class="iphone-screen"></div>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
			
			<div class="wrapper">
				<!--
						<div class="comingsoon">
												<h1>Coming soon</h1>
												<form action="http://zebraa.createsend.com/t/t/s/tiirli/" method="post">
																			<input id="fieldEmail" name="cm-tiirli-tiirli" type="email" placeholder="Email me on release" required /><button type="submit">OK</button>
													</form>
				</div> -->
				
				<div class="download">
					<!-- <a href="https://itunes.apple.com/us/app/notifyr-receive-ios-notifications/id873639935?l=nl&ls=1&mt=8" class="bttn ios" title="iOS App Store">Sign up</a><br> -->
					
				<p class="tagline">Create a note:</p>
					
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<h4 class="modal-title" id="myModalLabel">Sign up.</h4>
								</div>
								<div class="modal-body">
									
									<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
									<%= devise_error_messages! %>
									<div><%= f.label :email %><br />
									<%= f.email_field :email, autofocus: true %></div>
									<div><%= f.label :password %><br />
									<%= f.password_field :password, autocomplete: "off" %></div>
									<div><%= f.label :password_confirmation %><br />
									<%= f.password_field :password_confirmation, autocomplete: "off" %></div>
									
									<%= render "devise/shared/links" %>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<%= f.submit "Sign up", :class => "bttn ios"%>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<a onmouseover="" style="cursor: pointer; text-decoration: none;" class="bttn ios" data-toggle="modal" data-target="#myModal">
						Sign up. <up class=""></up>
					</a>
					<p class="tagline">or</p>
					
					<!-- Modal for Sign in -->
					<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<h4 class="modal-title" id="myModalLabel">Sign in</h4>
								</div>
								<div class="modal-body">
									
									<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
									<div><%= f.label :email %><br />
									<%= f.email_field :email, autofocus: true %></div>
									<div><%= f.label :password %><br />
									<%= f.password_field :password, autocomplete: "off" %></div>
									<% if devise_mapping.rememberable? -%>
									<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
									<% end -%>
									<%= render "devise/shared/links" %>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<%= f.submit "Sign in.", :class => "bttn prefs"%>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					
					<a onmouseover="" style="cursor: pointer; text-decoration: none;" class="bttn prefs" data-toggle="modal" data-target="#myModal2">
					Sign in. <up class=""></up>
					</a>
					
					
					
					
					
				</div>
				
			</div>
			<hr>
			
			<div class="columns-wrapper">
				<img src="assets/spaced_repetition.jpg" class="right apps" alt="apps notifications">
				<div class="left notification">
					<h1>Retain information long term. Forget about forgetting.</h1>
					<p>Research suggests that spreading out study sessions over long periods of time beats cramming when it comes down to remembering information long-term.</p> <p>NoteMinders takes advantage of the spacing effect. Just create a note and give us feedback & we'll send them back to you right when you need to see your note again.</p>
				</div>
			</div>
			<hr>
			
			<div class="columns-wrapper">
				<img src="assets/sms_email.png" class="left bluetooth" alt="Email & Text">
				<div class="right ble">
					<h1>Email & Text Reminders</h1>
					<p>Noteminders integrate a spaced repetition algorithm<br> (SuperMemo 2) with email & text so you you don't have to use a dedicated program to take advantage of spaced repetition.</p><p>NoteMinders takes the work out of planning when to study so you can focus on studying, not logistics.</p>
				</div>
			</div>
			<hr>
			<div class="columns-wrapper">
				<img src="assets/note.png" class="right apps" alt="apps notifications">
				<div class="left notification">
					<h1>Learn anything.</h1>
					<p>Use NoteMinders to learn everything that's important to you. Natural languages like Chinese or Spanish. Programming languages like Ruby, Python, or Java. Random quiz show facts. Heuristics.<br> Even names and faces.</p> 
				</div>
			</div>
			<hr>
			<div class="support-wrapper">
				<h1>Coming soon...</h1>
				
				<ul>
					<li>
						<img src="assets/evernote.png">
						<h3>Evernote</h3>
						<h5>Note sync</h5>
					</li>
					
					<li>
						<img src="assets/LaTeX.png">
						<h3>LaTeX support</h3>
						<h5>for math & code</h5>
					</li>
					
					<li>
						<img src="assets/share.png">
						<h3>Deck Sharing</h3>
						<h5>with friends</h5>
					</li>
					
					<li>
						<img src="assets/explosion.png">
						<h3>Self-destructing notes</h3>
						<h5>For clutter-free inboxes</h5>
					</li>
					
					<li>
						<img src="assets/images.png">
						<h3>Image support</h3>
						<h5>for visual notes</h5>
					</li>
					<ul>
						
						
					</div>
				</div>
				<div class="footer-wrapper">
					<ul>
						<li><%= link_to 'Research', page_path('research') %></li>
						<li><a href="mailto:noteminders@gmail.com?subject=Noteminders" title="Contact">Contact</a></li>
						<li><%= link_to 'FAQ', page_path('faq') %></li>
					</ul>
					<div class="credits">
						Built with <span style="color:red">&hearts;</span> by <a href="http://kevinhnguyen.github.io" title="Kevin Nguyen" target="_blank">Kevin Nguyen</a> & <a href="http://www.linkedin.com/pub/michael-le/4b/693/140" title="Michael Le" target="_blank">Michael Le</a><br><br>
						<%= link_to 'Create a new note.', "/notes/new" %><br>
						<br>
						
						
						
						<br>
						<div style="color:black;">Space filler</div>
					</div>
				</div>
				<!-- Credit goes to Joost van dijk for the site design -->
				<script type="text/javascript">
				setTimeout(function(){var a=document.createElement("script");
				var b=document.getElementsByTagName("script")[0];
				a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0000/7247.js?"+Math.floor(new Date().getTime()/3600000);
				a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
				</script>
			</body>
		</html>